# SplitPay QR - Ignores generated local project artifacts.
# Author: Dinesh Suresh
# Copyright (c) 2026 Dinesh Suresh
# SPDX-License-Identifier: MIT
# Licensed under the MIT License (see the LICENSE file in the project root).
# This file may be copied and reused freely, provided this notice is kept.
node_modules/
.next/
out/
.venv/
coverage/
*.tsbuildinfo
